# Credentials & secrets
.env
token.json
client_secret*.json

# Excel files with real data
*.xlsx
!demo/paystubs_DEMO.xlsx

# PDF files
*.pdf

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Processed Ids
processed_ids.json